services:
  - type: web
    name: express-tetris
    runtime: node
    repo: https://github.com/simpsons01/express-tetris
    branch: feature/render
    region: singapore
    plan: free
    rootDir: web
    buildCommand: npm install && npm run build
    startCommand: npm run start
    envVars:
      - key: REDIS_HOST_URL
        fromService:
          type: redis
          name: tetris-redis
          property: host
      - key: REDIS_HOST_PORT
        fromService:
          type: redis
          name: tetris-redis
          property: port
      - key: ALLOW_ORIGIN
        fromService:
          type: web
          name: react-tetris
          property: host
      - key: JWT_SECRET
        generateValue: true
  - type: web
    name: react-tetris
    runtime: static
    repo: https://github.com/simpsons01/react-tetris
    branch: feature/render
    buildCommand: npm run build
    staticPublishPath: ./build
    envVars:
      - key: REACT_APP_BACKEND_URL
        fromService:
          type: web
          name: express-tetris
          property: host
    routes:
      - type: rewrite
        source: /*
        destination: /index.html
  - type: redis
    name: tetris-redis
    region: singapore
    plan: free
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
